@import "/styles/variables.scss";

.containerNavBar {
  height: 64px;
  line-height: 64px;
  background-color: $black-background-color;

  .logoApp {
    position: relative;
    width: 134px;
    height: 21px;
  }
  .containerIcon {
    display: flex;
    align-items: center;

    .iconCheckout {
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    .iconHamburger {
      position: relative;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
