.*
!.dockerignore
!.storybook
!.circle
!.gitignore
!.babelrc
!.plop
!.jest
!.linguirc
!.prettierrc
!.nvmrc
!.env.example
!.env.production
dist
node_modules
src/locales/_build

cypress/videos
cypress/screenshots
