$yellowColor: #ffb00f;

.productPageImageContainer {
  position: relative;
  width: 100%;
  @media (max-width: 768px) {
    width: 100%;
  }

  .slider {
    position: relative;
    width: 100%;
    min-height: 375px;
    @media (max-width: 768px) {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      border-bottom: 1px solid #d8d8d8;
    }
  }

  .productPageImage {
    width: 100%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .slick-dots {
    margin-bottom: 0;
  }

  .categoryNameSliderIndex {
    padding: 13px 15px 9px;
    display: inline-flex;
    width: 100%;

    .categoryName {
      color: $yellowColor;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 20px;
      padding-top: 4px;
      padding-left: 0;
    }

    .sliderIndex {
      text-align: right;
      line-height: 24px;

      .sliderIndexContent {
        box-sizing: border-box;
        color: #181818;
        height: 24px;
        min-width: 56px;
        border: 1px solid #eaeaea;
        border-radius: 12px;
        float: right;
        text-align: center;
      }
    }
  }
}
