.productPageImageContainer {
  position: relative;
  @media(max-width: 768px) {
    width: 100%;
  }

  .productPageImage {
    @media(max-width: 768px) {
      min-height: 380px;
    }
  }

  .slick-dots {
    margin-bottom: 0;
  }
}

.rectangleGradient {
  // position: absolute;
  // bottom: 0;
  // height: 50px;
  // width: 360px;
  // background: linear-gradient(180deg, #FFFFFF 0%, #D8D8D8 100%);
}