// Rajdhani
@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani/Rajdhani-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani/Rajdhani-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani/Rajdhani-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani/Rajdhani-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/Rajdhani/Rajdhani-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
