@import "/styles/variables.scss";
@import "/styles/mixin";

.sectionDivider {
  width: 100vw;
  height: 16px;
  background-color: $department-category-color;
  border-top: 1px solid #e6e6e4;
  border-bottom: 1px solid #e6e6e4;
  position: relative;
  left: -15px;
}
.productTitle {
  background-color: #fff;

  .productCategory {
    line-height: 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: $status-product-color;
    text-transform: uppercase;
  }
  .productName {
    @include font-family(Rajdhani, 26px, 500, $primary-text-color);
    line-height: 26px;
    padding-top: 9px;
  }
  .reviewStar {
    padding-top: 11px;
    display: flex;
    span {
      font-size: 12px;
      line-height: 16px;
      color: $secondary-text-color;
      align-self: center;
      padding-left: 4px;
    }
  }
}
.productBuyNowMarginTop {
  padding-top: 16px;
  background-color: #ffffff;
}
// Customer review section
.customerReviewSection {
  margin-top: 16px;
  background-color: #fff;
  border-top: 1px solid #e6e6e4;
  border-bottom: 1px solid #e6e6e4;
  padding-top: 32px;
  padding-bottom: 24px;

  .customerReviewTitle {
    @include font-family(Rajdhani, 21px, 700, $primary-text-color);
    line-height: 21px;
    text-transform: uppercase;
  }
  .productOverallReviews {
    .reviewScore {
      padding-top: 8px;
      .totalScore {
        display: inline-block;
        @include font-family(Rajdhani, 31px, 400, $primary-text-color);
        line-height: 48px;
      }
      .reviewStar {
        display: inline-block;
        padding-left: 13px;
      }
    }
    .overallReviewCounter {
      font-size: 12px;
      line-height: 20px;
      margin-top: -10px;
    }
  }

  //Product review counter
  .reviewCounter {
    margin-top: 17px;
    .reviewCounterLine {
      height: 20px;
      div {
        display: inline-block;
      }
      .ratingPercent {
        margin: 0 6px 0 10px;
        height: 100%;
        .ratingFullPercent {
          width: 146px;
          height: 16px;
          background-color: $light-gray-border;
        }
        .ratingCalculatedPercent {
          position: absolute;
          left: 112px;
          height: 16px;
          background-color: $status-product-color;
        }
      }
      .ratingCount {
        font-size: 12px;
        line-height: 20px;
        vertical-align: text-bottom;
      }
    }
  }
  //Customer reviews
  .reviewList {
    margin-top: 32px;
    .tabHeader {
      border-bottom: 1px solid $light-gray-border;
      @include font-family(Rajdhani, 16px, 700, $primary-text-color);
      line-height: 20px;
      .activeTab {
        display: inline-block;
        border-bottom: 4px solid $primary-text-color;
        margin-right: 32px;
        padding-bottom: 10px;
      }
      .unactiveTab {
        color: $secondary-text-color;
        display: inline-block;
        margin-right: 32px;
      }
    }

    //User comment
    .userComment {
      display: block;
      padding-top: 25px;
      .userProfile {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        text-transform: capitalize;
        margin-bottom: 5px;

        div {
          display: inline-block;
        }
        .userVerified {
          position: relative;
          left: -17px;
          top: 18px;
        }
        .userAvatar {
          background-color: $department-category-color;
          border: 1px solid $department-category-color;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          padding: 14px 13px;
          font-weight: 600;
          line-height: 20px;
          margin-right: 3px;
          color: $secondary-text-color;
        }
        span {
          color: #18a957;
          font-weight: normal;
          margin-left: 8px;
        }
      }
      .ratingLine {
        display: flex;
        font-size: 16px;
        line-height: 28px;
        align-items: center;
        span {
          margin-left: 8px;
        }
      }
      .commentContent {
        padding-top: 3px;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .paginationContainer {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      ul {
        margin: 0 !important;
        li {
          @include font-family(Rajdhani, 14px, 400, $primary-text-color);
          line-height: 18px;
          width: 36px;
          height: 36px;
          padding: 8px 0;
          margin-left: 4px;
        }
        .paginationHolder {
          @extend li;
          border: 1px solid #afb0b1;
        }
        .paginationHolderActive {
          @extend .paginationHolder;
          background-color: $primary-text-color;
          color: $text-white;
          border: none;
        }
        li > a {
          outline: none !important;
          width: 100%;
          height: 100%;
          display: inline-block;
          text-align: center;
        }
        .breakBtn {
          margin-right: 4px;
          margin-left: 8px;
          line-height: 18px;
          padding: 6px 0 12px;
          width: auto;
        }
      }
    }
    .noMargin {
      margin: 0 !important;
    }
    .reviewPaginationDetail {
      line-height: 20px;
      font-size: 12px;
      margin-top: 24px;
      p {
        display: inline-block;
        color: $secondary-text-color;
      }
      .showAllReviewBtn {
        float: right;
        text-decoration: underline !important;
        color: $primary-text-color;
        text-transform: uppercase;
      }
    }
  }
}

