@import "/styles/variables.scss";
@import "/styles/mixin";

.containerFilter {
  padding: 17px 18px;
  box-sizing: border-box;

  .titleFilter {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    .heading {
      @include font-family(Rajdhani, 16px, 700, $primary-text-color);
    }
    .icon {
      position: relative;
      width: 12px;
      height: 12px;
    }
  }

  .contextCollapse {
    padding: 0px 10px;
    .itemFilter {
      display: flex;
      justify-content: space-between;

      .itemFilterLabel {
        label {
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 20px;
        }
      }
      .itemFilterCount {
        font-size: 12px;
      }
    }
  }
}

.sort_filter_by.sorting {
  margin-top: 1rem;
}

.button_sajari {
  padding: 1rem 0;
  background-color: #fff;

  position: sticky;
  width: 100%;
  bottom: 0;
  .modal_button {
    padding: 0 0.5rem;
  }
  button {
    height: 48px;
    width: 100%;
    border-radius: 8px;

    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
}

.sajari_checkbox {
  padding-bottom: 0.75rem;
  input {
    transform: scale(1.25);
  }
  label {
    font-size: 12px;
    line-height: 20px;
  }
}

.sajari_combobox > div {
  margin-top: 10px;
  height: 48px;
  border-radius: 24px;
  background-color: #f6f6f6;
  border: unset;

  input {
    font-size: 14px;
    font-weight: 400;
    padding-left: 21px;
    border-color: #f6f6f6 !important;
  }

  input:focus {
    border-color: #f6f6f6 !important;
    border-radius: 24px;
  }
}
.sajari_combobox > div:focus {
  border-color: #f6f6f6 !important;
  border-radius: 24px;
}

.sajari_combobox > div > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  svg {
    width: 24px;
    height: 24px;
    background-image: url("/searchicon.svg");
    path {
      display: none;
    }
  }
}