@import "/styles/variables.scss";
@import "/styles/mixin";

.containerFilter {
  padding: 16px 8px;
  box-sizing: border-box;

  .titleFilter {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    .heading {
      @include font-family(Rajdhani, 16px, 600, $primary-text-color);
    }
    .icon {
      display: grid;
    }
  }

  .contextCollapse {
    padding: 0px 24px;
    .itemFilter {
      display: flex;
      justify-content: space-between;

      .itemFilterLabel {
        label {
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 20px;
        }
      }
      .itemFilterCount {
        font-size: 12px;
      }
    }
  }
}

.inputSearch {
  padding-top: 16px;
  padding-bottom: 16px;
}

.containerFilterOpen {
  border-bottom: 0.5px solid #e5e5e4;
}

.sort_filter_by.sorting {
  margin-top: 1rem;
}

.sajari_checkbox {
  padding-bottom: 0.75rem;
  input {
    transform: scale(1.25);
  }
  label {
    font-size: 12px;
    line-height: 20px;
  }
}

.searchBrandFilter {
  border: 0;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  border-radius: 28px;
  background-color: #f6f6f6;
  background-image: url("/iconSearchGrey.svg");
  background-position: right 15px bottom 13px;
  background-repeat: no-repeat;
  padding: 14px 21px;
  color: #939393;
  font-size: 12px;
  min-height: 48px;
}
