.productDetailsDescription {
  color: #181818;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;

  .title {
    text-transform: uppercase;
    color: #181818;
    font-family: Rajdhani;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
  }

  .readMoreContent {
    // color: red;
  }

  .readMoreText {
    display: block;
  }
}
