.productDetailsDescription {
  color: #181818;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  background-color: #fff;
  margin-top: 16px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #e6e6e4;
  border-bottom: 1px solid #e6e6e4;

  .title {
    text-transform: uppercase;
    color: #181818;
    font-family: Rajdhani;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 3px;
  }

  .readMoreContent {
    // color: red;
  }

  .readMoreText {
    display: block;
  }
}
