@import "/styles/variables.scss";

.myCartContainer {
  .headerSection {
    height: 152px;
    align-items: center;
    font-family: Rajdhani;

    .headerTitle {
      font-weight: 700;
      font-size: 31px;
    }
  }
  .listItemSection {
    align-items: center;
    padding: 0 8px;
  }

  .footerSection {
    .btn {
      font-weight: 700;
      font-family: Rajdhani;
      height: 64px;
    }

    .continueButton {
      margin-top: 33px;
      margin-bottom: 33px;
      background-color: $primary-background-color;
    }
  }
}

.promotionSection {
  padding: 25px 0;

  input {
    border: 1px solid $primary-border-color;
  }

  .btn {
    font-weight: 700;
    font-family: Rajdhani;
    padding-left: 26px;
    padding-right: 26px;
    height: 48px;
  }
}

.orderTotalCost {
  p {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .totalCost {
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 21px;
  }
}
