@import "/styles/variables.scss";
@import "/styles/mixin";

$product-count-color: #939393;
$border-color: #e5e5e4;
$border-color-sort-filter: #d0d1cf;
$bg-sort-filter: #f6f6f6;
.result {
  text-align: left !important;
}

.headerCollectionPage {
  background-color: $primary-text-color;
  .contentHeader {
    padding-top: 40px;
    padding-bottom: 40px;
    .page_heading_1_collection_page {
      font-family: Rajdhani;
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 31px;
      text-transform: uppercase;
      color: #ffffff;
    }
    .product_count_collection_page {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: $product-count-color;
    }
  }
}
.categories {
  padding-top: 40px;
  padding-bottom: 40px;

  .header_category {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 21px;
    /* identical to box height, or 100% */

    text-transform: uppercase;
  }
  .list_category {
    padding-top: 20px;
    transition: all 100ms ease-out;
  }
  .category {
    padding-top: 5px;
    display: flex;
    align-items: center;

    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    .count_category {
      padding-left: 0.5rem;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $product-count-color;
    }
  }

  .show_less_show_more {
    padding-top: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    text-decoration: underline;
    color: $primary-text-color;
  }
}

.pre_page_button {
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 0.5px solid $border-color;

  display: flex;
  font-size: 12px;
}

.filter_sort_sajari {
  padding: 16px;
  background-color: $bg-sort-filter;

  .short_filter {
    position: relative;

    padding-top: 14px;
    padding-bottom: 13px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid $border-color-sort-filter;
    border-radius: 4px;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 50%;

      font-family: Rajdhani;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;

      img {
        left: -7.5px !important;
      }
    }

    .horizontal_line {
      position: absolute;
      width: 1px;
      top: 20%;
      background-color: $border-color-sort-filter;
      height: 60%;
    }
  }
}
