@import "/styles/variables.scss";

.checkoutEmailContainer {
  padding-top: 12px;

  .emailBody {
    padding-top: 37px;

    h2 {
      font-family: Rajdhani;
    }

    .content {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 40px;
    }

    .btn {
      font-family: Rajdhani;
      font-weight: 700;
      height: 64px;
    }
  }
}
