@import "/styles/variables.scss";

.checkoutEmailContainer {
  padding-top: 12px;

  .emailBody {
    padding-top: 37px;

    h2 {
      font-family: Rajdhani;
      font-size: 26px;
    }

    .content {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 40px;
    }

    .btn {
      font-family: Rajdhani;
      font-weight: 700;
      height: 64px;
    }

    .btnLink {
      font-weight: 400;
      font-size: 12px;
      color: $primary-text-color;
    }
  }

  .passwordField {
    border-right: 0px;
  }

  .iconShowPassword {
    border-radius: 0;
    background: none;
    border-left: 0px;
    padding-right: 16px;
  }
}
