@import "/styles/variables.scss";
@import "/styles/mixin";

//Mixin
@mixin paging_process_bar {
  .num_pages {
    display: flex;
    .total_num_pages {
      color: #e5e5e5;
    }
  }
  .card_holder {
    border-bottom: 1px solid #666666;
  }

  .card {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
    font-size: 5px;
    font-weight: 800;
    height: 1em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 1px;
  }

  .bg_gold {
    background: -webkit-linear-gradient(110deg, #181818 70%, #ffb00f 30%);
    background: -o-linear-gradient(110deg, #181818 70%, #ffb00f 30%);
    background: -moz-linear-gradient(110deg, #181818 70%, #ffb00f 30%);
    background: linear-gradient(110deg, #181818 70%, #ffb00f 30%);
  }

  .card_inactive {
    opacity: 0;
    transition: all 300ms ease-out;
  }

  .card_active {
    opacity: 1;
    transition: all 1000ms ease-out;
  }
}

/* end mixin */

// Align
$padding-top-department: 60px;
$border_brand_color: #e5e5e5;
$vertical_border: 2.5px;
$padding-top-component: 55px;

.homepageContainer {
  //Department
  .department {
    height: 100%;
    position: relative;

    .main_group {
      height: 216px;
      align-items: center;
    }

    .group_left {
      z-index: 3;
    }

    .text_header {
      font-family: Rajdhani;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;

      line-height: 26px;
      letter-spacing: 0px;

      text-align: left;
      text-transform: uppercase;
      color: $primary-text-color;
    }

    .text_category {
      font-family: Rajdhani;
      font-style: normal;
      font-weight: bold;
      font-size: 200px;

      color: $department-category-color;
      line-height: 140px;

      text-transform: uppercase;
      white-space: nowrap;

      position: absolute;
      overflow: hidden;
      right: 0px;
      left: 25%;
      top: $padding-top-department - 10px;
      z-index: 1;
    }

    .text_category_second {
      color: #fff;
    }

    @media (min-width: 768px) {
      .text_category,
      .text_category_second {
        left: 15%;
      }
    }

    .status_product {
      padding-bottom: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 16px;
      /* identical to box height, or 160% */

      letter-spacing: 1px;
      text-transform: uppercase;

      color: $status-product-color;
    }

    .shop_group {
      display: flex;
      align-items: center;
      padding-top: 20px;

      .triangle_right {
        width: 0;
        height: 0;
        margin-left: 15px;
        border-top: 3px solid transparent;
        border-left: 5px solid $primary-text-color;
        border-bottom: 3px solid transparent;
      }

      .text_shop_now {
        font-family: Rajdhani;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */

        color: $primary-text-color;
      }
    }

    .department_image {
      position: absolute;
      right: 0px;
      top: 10%;
      // transform: translate(0%, -50%);
      z-index: 2;
      div {
        // max-height: 100%;
        div {
          position: unset !important;
        }
      }
      .departmentImage {
        position: relative;
        width: 236px;
        height: 177px;
      }
      @media only screen and (max-width: 320px) {
        .departmentImage {
          width: 200px;
          height: 150px;
        }
      }
    }

    .style_second {
      background: $department-background-sencond-color;
    }
  }
}

//Brand
.brand {
  padding-top: $padding-top-component;

  .slider_custom {
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .logo_custom {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;

    display: flex;
    justify-content: center;
  }

  .border_right_bottom,
  .border_bottom {
    border-bottom: 2px solid $border_brand_color;
  }

  .border_right_bottom,
  .border_right {
    border-right: 2px solid $border_brand_color;
  }
  .border_right_bottom {
    background: #fff;
  }

  .border_right_bottom:before {
    z-index: 10;
    display: block;
    content: "\25A0";
    position: absolute;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    top: 100%;
    left: 100%;
    transform: translate(-40%, -45%) scale(1.5);
  }
  @include paging_process_bar;
}

@media only screen and (max-width: 425px) {
  .brand {
    .logo_custom {
      padding-left: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 0px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .brand {
    .logo_custom {
      padding-left: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 0px;
    }
  }
}

.text_heading_line_40 {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  /* identical to box height, or 154% */

  text-align: center;
  text-transform: uppercase;

  color: $primary-text-color;
}

//HomePage global
.view_all_btn {
  height: 100%;
  align-items: center !important;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  text-transform: capitalize;
  color: $status-product-color;

  cursor: pointer;
}

.group_heading {
  display: flex;
  justify-content: space-between;
}

//SEO
.SEO {
  padding-top: $padding-top-component;

  .read_more {
    display: none;
  }
  .read_more_btn {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: $primary-text-color;
    cursor: pointer;
  }
  .page_paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
}

//FAQ
.FAQ {
  padding-top: $padding-top-component;
  max-width: unset;

  .faqContent {
    background-color: #f6f6f4;

    .question {
      height: auto;
      padding-top: 10px;
      padding-bottom: 9px;
      &:hover {
        cursor: pointer;
      }

      .questionCol {
        display: flex;

        .questionTitle {
          font-style: normal;
          letter-spacing: 0px;
          text-align: left;
          @include font-family(Rajdhani, 16px, 600, $primary-text-color);
        }

        .questionIcon {
          position: relative;
          .questionIconElement {
            position: absolute;
            top: 5px;
            right: 0;
            .questionIconImage {
              position: relative;
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    .questionLineHeight {
      @extend .question;
      line-height: 16px !important;
    }

    .bottomBorder {
      height: 1px;
      max-width: unset;
      border-bottom: 1px solid $primary-border-color;
    }

    .faqText {
      .questionAnswer {
        font-style: normal;
        letter-spacing: 0px;
        font-size: 12px;
        font-weight: 400;
        color: $primary-text-color;
        padding-bottom: 25px;
      }
    }
  }

  .questionLoadMore {
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    height: 48px;
    line-height: 48px;
    @include font-family(Rajdhani, 14px, 600, $primary-text-color);
    &:hover {
      color: $color-hover;
      cursor: pointer;
    }
  }
}

//Blog
.blog {
  padding-top: $padding-top-component;
  color: $primary-text-color;

  .slider_custom {
    padding-top: 35px;
    padding-bottom: 30px;

    .blogImage {
      position: relative;
      width: 200px;
      height: 124px;
    }
  }

  .heading2 {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 20px;

    text-transform: uppercase;
  }
  .read_more {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }

  .border_none_image {
    border: none;
    padding: 0;
  }
  .line_bottom_image {
    height: 4px;
    width: 100%;

    position: absolute;
    bottom: 0;
    opacity: 0;

    background-color: $status-product-color;
  }

  .line_image_active {
    opacity: 1;
  }

  .content_blog {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
  }
  @include paging_process_bar;
}

//testimonials
.padding_testimonials {
  padding-top: 50px;
  .testimonials {
    background-color: $primary-text-color;
    height: auto;

    .testimonialsTitle {
      align-items: center;
      padding-top: 50px;

      .testimonialsText {
        text-align: center;
        margin: 0px auto;
        width: 215px;
        @include font-family(Rajdhani, 26px, 600, $text-white);
        background: url("/testimonials.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 90px;
        line-height: 20px;
        padding-top: 25px;
      }
    }

    .testimonialsSlider {
      padding-top: 25px;
      color: $text-white;
      text-align: center;
      align-items: center;
      height: auto;

      .testimonialsSliderStart {
        margin: 0px auto;
        width: 120px;
      }

      .testimonialsSliderContext {
        max-width: 500px;
        margin: 0px auto;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        color: $text-white;
      }

      .testimonialsSliderAuthor {
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 18px;
        font-weight: 700;
        font-size: 10px;
        color: #ffb00f;
        padding-bottom: 50px;
      }
    }
  }
}
