@import "/styles/variables.scss";

.deliveryContainer {
  padding-top: 12px;
  h2 {
    font-family: Rajdhani;
  }

  .btnPlaceOrder {
    font-family: Rajdhani;
    font-weight: 700;
    height: 64px;
  }

  .emailBody {
    padding-top: 37px;

    p {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

  .shippingMethods {
    padding-top: 37px;
    padding-bottom: 37px;
    .btn {
      font-weight: 700;
      height: 48px;
      text-align: left;
      font-size: 14px;
      padding-left: 17px;
      padding-right: 17px;
      margin-bottom: 8px;
    }

    .btnIcon {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }

    .methodPrice {
      float: right;
    }
  }

  .shippingAddress {
    padding-bottom: 10px;
    .fullformBtn {
      text-align: center;
      font-size: 12px;

      .btnLink {
        padding: 0 2px 2px;
        font-size: 12px;
      }
    }
  }

  .paymentBody {
    padding-top: 20px;
    padding-bottom: 18px;

    .groupMethod {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;

      .btn {
        width: 24%;
        height: 40px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .btnIcon {
        line-height: 0;
      }

      .dumbContent {
        width: 24%;
        height: 1px;
      }

      .btnDisabled {
        pointer-events: none;
      }
    }

    .hostedField {
      height: 50px;
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      display: inline-block;
      box-shadow: none;
      font-weight: 600;
      font-size: 14px;
      border: 1px solid #dddddd;
      line-height: 20px;
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 300ms ease-in-out;
    }
  }
}
