@import "/styles/variables.scss";
@import "/styles/mixin";

// Header of brand component index
.headerBrandIndex {
  height: 192px;
  background-color: #181818;

  p {
    padding-top: 42px;
    @include font-family(Rajdhani, 31px, 700, $text-white);
    text-align: left;
    text-transform: uppercase;
  }
}
.imagedHeader {
  height: 136px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  .header {
    @include font-family(Rajdhani, 31px, 700, #ffffff);
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    line-height: 31px;
  }
  .productCount {
    display: block;
    font-style: normal;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    color: $product-count-color;
  }
  .blurBackground {
    width: 100%;
    height: 100%;
    background-color: red;
  }
}

//Search of brand header component index
.searchBrandIndexPosition {
  position: relative;
  align-items: center;

  .searchBrandIndex {
    position: absolute;
    width: 90%;
    height: 152px;
    background-color: #ffffff;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: -40px;
    left: 5%;

    .searchBrandIndexContainer {
      position: relative;
      display: inline-block;

      .searchBrandIndexTitle {
        padding-top: 20px;
        padding-bottom: 15px;
        @include font-family(Rajdhani, 21px, 700, #181818);
      }

      .searchBrandIndexDropdownContent {
        width: 90%;
        position: absolute;
        overflow: auto;
        z-index: 1;

        border-radius: 6px;

        .searchBrandIndexInput {
          border: 1px solid #afb0b1;
          box-sizing: border-box;
          border-radius: 4px;
          width: 100%;
          box-sizing: border-box;
          border-radius: 4px;
          background-color: white;
          background-image: url("/iconSearchGrey.svg");
          background-position: right 15px bottom 13px;
          background-repeat: no-repeat;
          padding: 12px;
          @include font-family(Rajdhani, 16px, 500, #181818);
        }

        .searchBrandIndexOptions {
          background-color: #ffffff;
          height: auto;
          border-radius: 6px;

          .searchBrandIndexOptionItem {
            padding: 22px 20px;
            box-sizing: border-box;
            border-bottom: 1px solid #e5e5e4;
          }
        }
      }

      .searchBrandIndexDropdownContentOpen {
        @extend .searchBrandIndexDropdownContent;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
      }
    }
    @media only screen and (max-width: 2560px) {
      .searchBrandIndexContainer {
        .searchBrandIndexDropdownContent {
          width: 98%;
        }
      }
    }
    @media only screen and (max-width: 1024px) {
      .searchBrandIndexContainer {
        .searchBrandIndexDropdownContent {
          width: 97%;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      .searchBrandIndexContainer {
        .searchBrandIndexDropdownContent {
          width: 96%;
        }
      }
    }
    @media only screen and (max-width: 425px) {
      .searchBrandIndexContainer {
        .searchBrandIndexDropdownContent {
          width: 92%;
        }
      }
    }
    @media only screen and (max-width: 360px) {
      .searchBrandIndexContainer {
        .searchBrandIndexDropdownContent {
          width: 90%;
        }
      }
    }
  }
}
.backBtn {
  font-size: 12px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 6px 16px;
}

//BestSeller Component
.bestSellersHeading {
  text-transform: uppercase;
  @include font-family(Rajdhani, 21px, 700, $primary-text-color);
  margin-top: 48px;
  padding-left: 17px;
}

//Brand List
.padTopBottom20 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 48px;
}

.containerBrandList {
  display: flex;
  justify-content: space-between;
  max-height: 1130px;
  border-bottom: 1px solid #e5e5e4;

  .containerLHS {
    width: 25%;
    text-align: center;
    border-right: 1px solid #e5e5e4;
    @extend .padTopBottom20;

    .containerLHSItem {
      display: flex;

      justify-content: space-between;

      .containerLHSItemText {
        width: 96%;
        @include font-family(Rajdhani, 21px, 700, #181818);
        p {
          margin-left: -15px;
        }
      }
      .containerLHSItemTextActive {
        @extend .containerLHSItemText;
        color: #ffb00f;
      }

      .containerLHSItemBorder {
        width: 4%;
      }
      .containerLHSItemBorderActive {
        @extend .containerLHSItemBorder;
        background-color: #ffb00f;
      }
    }
  }
  .containerRHS {
    overflow: scroll;
    height: 100vh;
    width: 75%;
    @extend .padTopBottom20;
    .containerRHSContent {
      width: 80%;
      line-height: 30px;
      margin: 0px auto;
      p {
        @include font-family(Rajdhani, 16px, 400, #181818);
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (max-width: 2560px) {
  .containerBrandList {
    .containerLHS {
      width: 10%;
    }
    .containerRHS {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .containerBrandList {
    .containerLHS {
      width: 15%;
    }
    .containerRHS {
      width: 85%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .containerBrandList {
    .containerLHS {
      width: 18%;
    }
    .containerRHS {
      width: 82%;
    }
  }
}
@media only screen and (max-width: 425px) {
  .containerBrandList {
    .containerLHS {
      width: 25%;
    }
    .containerRHS {
      width: 75%;
    }
  }
}
@media only screen and (max-width: 360px) {
  .containerBrandList {
    .containerLHS {
      width: 25%;
    }
    .containerRHS {
      width: 75%;
    }
  }
}
