@import "/styles/variables.scss";
@import "/styles/mixin";

.headerBrandIndex {
  height: 192px;
  background-color: #181818;

  p {
    padding-top: 42px;
    @include font-family(Rajdhani, 31px, 700, $text-white);
    text-align: left;
    text-transform: uppercase;
  }
}
.imagedHeader {
  height: 136px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  .header {
    @include font-family(Rajdhani, 31px, 700, #ffffff);
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    line-height: 31px;
  }
  .productCount {
    display: block;
    font-style: normal;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    color: $product-count-color;
  }
  .blurBackground {
    width: 100%;
    height: 100%;
    background-color: red;
  }
}
