@import "./variables.scss";

.css-1idjhnv-Result {
  text-align: left !important;
}

.css-1cd9max-Result {
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 500;
}

.css-12yyq8b-Result {
   font-family: Rajdhani; 
   font-weight: bold;
   color: #181818 !important;
}

//Pagination
.css-1fi3rr6-Pagination {
 font-size: 12px !important;
 max-width: 400px;
 margin: 0px auto;
 justify-content: space-around !important;
}

.css-q9rddq {
  background: #222222 !important;
  max-width: 30px;
  font-size: 14px !important;
  margin: 5px;
}

.css-1wkws2a {
  background: #222222 !important;  
  max-width: 30px;
  font-size: 12px !important;
  margin: 5px;
}

.css-1fi3rr6-Pagination > button:first-of-type {
  border: unset;
  background-color: $text-white;
}
.css-1fi3rr6-Pagination > button:last-of-type {
  border: unset;
  background-color: $text-white; 
}

.css-1cdx6dw {
  max-width: 30px;
  font-size: 12px !important;
  margin: 5px;

}

.css-xqdxb0 {
  border: unset !important;
  background-color: $text-white !important;
}