@import "./variables.scss";

//Pagination
.css-q9rddq {
  background: #222222 !important;
  max-width: 30px;
  font-size: 14px !important;
  margin: 5px;
}

.css-1lfcbrr {
  border: unset !important;
  background-color: $text-white !important;
}
.css-1vwz9j1 {
  border: unset !important;
  background-color: $text-white !important; 
}

.css-1wkws2a {
  background: #222222 !important;  
  max-width: 30px;
  font-size: 12px !important;
  margin: 5px;
}
.css-1cdx6dw {
  max-width: 30px !important;
  font-size: 12px !important;
  margin: 5px !important;
}

.css-xqdxb0 {
  border: unset !important;
  background-color: $text-white !important;
}

//Result
.modifyResult {
  text-align: left !important;
  align-items: left !important;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 500;
  p {
    text-align: left !important;
    color: #181818 !important;
    font-weight: bold !important;
  }
}

.modifyPagination {
  font-size: 12px !important;
  max-width: 400px;
  margin: 0px auto;
  justify-content: space-around !important;
}
