.css-1idjhnv-Result {
  text-align: left !important;
}

.css-1cd9max-Result {
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 500;
}

.css-12yyq8b-Result {
   font-family: Rajdhani; 
   font-weight: bold;
   color: #181818 !important;
}