@import "./variables.scss";

$product-count-color: #939393;

// Pagination

.prevPagination {
  border: unset !important;
  background-color: $text-white !important;
  height: 35px;
  width: 48px;
  line-height: 35px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: unset !important;
  svg {
    width: 12px;
    height: 12px;
    background-image: url("../public/icons/icon-previous.svg");
    background-repeat: no-repeat;
    path {
      display: none
    }
  }
}
.nextPagination {
  @extend .prevPagination;
  svg {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url("../public/icons/icon-next.svg");
    path {
      display: none;
    }
  }
}

.activePagination {
  background-color: $primary-text-color !important;
}

.css-xqdxb0 {
  border: unset !important;
  background-color: $text-white !important;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 12px;
}

.buttonPagination {
  max-width: 30px !important;
  font-size: 12px !important;
  margin: 2px !important;
  height: 30px;
  line-height: 30px;
  color: aliceblue;
}

.resetButtonFilter {
  display: none !important;
}

.checkboxGroupFilter {
  div {
    div + span {
      display: none;
    }
  }
}

.searchFilter {
  margin-right: 1rem;
}

.searchFilter > div {
  height: 48px;
  border-radius: 24px;
  input {
    font-size: 14px;
    font-weight: 400;
  }
}

.searchFilter > div > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  svg {
    width: 24px;
    height: 24px;
    background-image: url("../public/searchicon.svg");
    path {
      display: none;
    }
  }
}
