// Background color
$primary-background-color: #fff;
$secondary-background-color: #f4f4f4;
$department-background-sencond-color: #f5f5f5;

// Text color
$primary-text-color: #181818;
$secondary-text-color: #939393;
$department-category-color: #f6f6f6;
$status-product-color: #ffb00f;
$text-white: #ffffff;
$product-count-color: #939393;

// Button
$primary-button-background-color: #222222;
$primary-button-color: $text-white;

$secondary-button-background-color: #ffb00f;
$secondary-button-color: $primary-text-color;

$gray-button-background-color: #f4f4f4;
$gray-button-color: $primary-text-color;

$white-button-background-color: $primary-background-color;
$white-button-color: $primary-text-color;

// Border
$primary-border-color: #dbdbdb;
$secondary-border-color: #e5e5e5;

//Hover
$color-hover: #90d3ff;
