// Background color
$primary-background-color: #fff;
$secondary-background-color: #f4f4f4;

// Text color
$primary-text-color: #181818;
$secondary-text-color: #939393;

// Button background
$primary-button-background-color: #222222;
$secondary-button-background-color: #ffb00f;
